<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="10" md="7">
        <div v-if="servers.length === 0">
          <v-card class="px-4 py-2 display">
            <v-row>
              <v-col align="center" cols="12">
                <v-card color="transparent" flat>
                  <div v-if="loading === false">
                    <strong style="color: white"
                      >There are no servers to display</strong
                    >
                  </div>
                  <div v-else>
                    <v-progress-circular indeterminate color="primary">
                    </v-progress-circular>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-card>
        </div>
        <div v-else>
          <v-card class="display pa-4">
            <v-row>
              <v-col cols="12" lg="6" align="center">
                <v-card flat color="transparent">
                  <strong style="color: white"> Server Name </strong>
                </v-card>
              </v-col>
              <v-divider
                vertical
                color="white"
                class="hidden-md-and-down"
              ></v-divider>
              <v-col lg="6" align="center" class="hidden-md-and-down">
                <v-card flat color="transparent"> Server ID </v-card>
              </v-col>
            </v-row>
            <v-divider color="white" class="my-4"></v-divider>
            <v-btn
              v-for="server in servers"
              :key="server.id"
              block
              color="transparent"
              class="my-2"
              elevation="0"
              nuxt
              :to="'server/' + server.id"
            >
              <v-row>
                <v-col cols="12" lg="6" align="center">
                  <v-card flat color="transparent" style="color: white">
                    {{ server.name }}
                  </v-card>
                </v-col>
                <v-col lg="6" align="center" class="hidden-md-and-down">
                  <v-card flat color="transparent" style="color: white">
                    {{ server.id }}
                  </v-card>
                </v-col>
              </v-row>
            </v-btn>
          </v-card>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Serverselect',
  data() {
    return {
      servers: [],
      loading: false,
      error: null,
    }
  },
  async created() {
    this.loading = true
    try {
      const res = await axios.get('/api/servers')
      this.servers = res.data
      this.loading = false
    } catch (err) {
      this.loading = false
      this.error = err
    }
  },
}
</script>

<style scoped>
.display {
  border: 3px solid #64b5f6;
  border-radius: 30px;
  background-color: #64b5f6d9;
}
</style>
