<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="10" md="7">
        <v-card class="py-2 display" elevation="8">
          <v-row>
            <v-col cols="12" align="center">
              <div v-if="loading === true">
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </div>
              <div v-else-if="error != null">
                <strong style="color: white">An error has occured</strong>
              </div>
              <div v-else>
                <ServerInfoDisplay
                  :serverinfo="serverData"
                  @diss="requestDiss"
                  @kick="requestKick"
                  @ban="requestBan"
                  @message="requestMessage"
                />
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'
import ServerInfoDisplay from '../../components/serverinfodisplay'

export default {
  components: {
    ServerInfoDisplay,
  },
  data() {
    return {
      loading: false,
      error: null,
      serverData: {},
    }
  },
  async created() {
    try {
      this.loading = true
      const res = await axios.get(`/api/servers/${this.$route.params.serverID}`)
      this.serverData = res.data
      this.loading = false
    } catch (err) {
      this.loading = false
      this.error = err
    }
  },
  methods: {
    async requestDiss(channelID, victimName) {
      try {
        const body = {
          victim_name: victimName,
        }
        await axios.post(`/api/messaging/diss/${channelID}`, body)
      } catch (err) {
        this.error = err
      }
    },

    async requestKick(victimID) {
      try {
        const body = {
          userID: victimID,
          guildID: this.$route.params.serverID,
          message: 'No Reason Given',
        }

        await axios.post('/api/kick/user', body)
      } catch (err) {
        this.error = err
      }
    },

    async requestBan(victimID) {
      try {
        const body = {
          userID: victimID,
          guildID: this.$route.params.serverID,
          message: 'No Reason Given',
        }
        await axios.post('/api/ban/user', body)
      } catch (err) {
        this.error = err
      }
    },

    async requestMessage(msg, channelID) {
      try {
        const body = {
          message: msg,
        }

        await axios.post(`/api/messaging/message/${channelID}`, body)
      } catch (err) {
        this.error = err
      }
    },
  },
}
</script>

<style scoped>
.display {
  border: 3px solid #64b5f6;
  border-radius: 30px;
  background-color: #64b5f6d9;
}
</style>
