<template>
  <v-app>
    <v-main class="blue darken-4 body-bg-image">
      <v-toolbar color="blue" class="mb-12" dark>
        <v-toolbar-title>Bot Command Center</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-divider vertical></v-divider>
          <v-btn text nuxt :to="'/serverselect'">Servers</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {}
</script>

<style>
.body-bg-image {
  background: url('/discordlogo.png') no-repeat center;
  background-size: min(90vw, 1000px) auto;
}
</style>
