<template #activator="{ on, attrs }">
  <v-dialog v-model="dialog" persistent max-width="290">
    <template #activator="{ on, attrs }">
      <v-btn rounded color="primary" dark v-bind="attrs" class="ma-2" v-on="on">
        {{ btndata.name }}
      </v-btn>
    </template>
    <v-card class="display px-4 py-2">
      <v-card-title style="word-break: keep-all">
        <strong style="color: white" class="text-center">
          Are you sure you would like to {{ btndata.name }}
          {{ btndata.target }}?
        </strong>
      </v-card-title>
      <v-card-actions class="justify-center">
        <v-btn class="ma-2" rounded color="primary" dark @click="emitVals()">
          Yes
        </v-btn>
        <v-btn
          class="ma-2"
          rounded
          color="primary"
          dark
          @click="dialog = false"
        >
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'Btnpopup',
  props: {
    btndata: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      dialog: false,
    }
  },
  methods: {
    emitVals() {
      this.$emit('clicked')
      this.dialog = false
    },
  },
}
</script>

<style scoped>
.display {
  border: 4px solid #2979ff;
  border-radius: 5px;
  background-color: #64b5f6d9;
}
</style>
