<template>
  <v-container>
    <v-card color="transparent" flat>
      <v-row>
        <v-col cols="12">
          <strong style="color: white" class="text-h4 font-weight-bold">
            {{ channelname }}
          </strong>
        </v-col>
      </v-row>
      <v-divider color="white" class="my-4"></v-divider>
      <v-row>
        <v-col cols="12">
          <v-form ref="form" v-model="valid">
            <v-text-field
              v-model="message"
              required
              label="message"
              :rules="messageRules"
            >
            </v-text-field>
            <v-btn
              rounded
              color="primary"
              dark
              class="mx-2"
              @click="sendMessage"
            >
              Send Message
            </v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'Channeloptions',
  props: {
    channelname: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      valid: true,
      message: '',
      messageRules: [(v) => !!v || 'Message is required'],
    }
  },

  mounted() {
    this.$on('message', () => {
      this.$refs.form.reset()
    })
  },

  methods: {
    sendMessage() {
      if (this.$refs.form.validate()) {
        this.$emit('message', this.message)
      }
    },
  },
}
</script>

<style scoped></style>
