<template>
  <v-container>
    <v-card color="transparent" flat>
      <v-row>
        <v-col cols="12">
          <strong style="color: white" class="text-h4 font-weight-bold">
            {{ username }}
          </strong>
        </v-col>
      </v-row>

      <v-divider color="white" class="my-4"></v-divider>

      <v-row>
        <v-col>
          <BtnPopup
            :btndata="{ name: 'Kick', target: username }"
            @clicked="triggerKick"
          />

          <BtnPopup
            :btndata="{ name: 'Ban', target: username }"
            @clicked="triggerBan"
          />

          <v-btn rounded color="primary" dark class="ma-2" @click="triggerDiss">
            Diss
          </v-btn>
        </v-col>
      </v-row>
      <v-row v-if="diss === true">
        <v-col cols="12">
          <v-divider color="white" class="my-2"></v-divider>
          <strong style="color: white" class="text-h6">Choose a channel</strong>
          <div v-for="channel in channels" :key="channel.id">
            <v-btn
              rounded
              color="primary"
              dark
              class="my-2"
              @click="submitDiss(channel.id)"
            >
              {{ channel.name }}
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
import BtnPopup from './btnpopup'

export default {
  name: 'Useroptions',
  components: {
    BtnPopup,
  },
  props: {
    username: {
      type: String,
      required: true,
    },
    channels: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      diss: false,
    }
  },
  methods: {
    submitDiss(channelID) {
      this.$emit('diss', channelID)
    },
    triggerDiss() {
      this.diss = !this.diss
    },
    triggerKick() {
      this.$emit('kick')
    },

    triggerBan() {
      this.$emit('ban')
    },
  },
}
</script>

<style scoped></style>
